<div class="container">
      <h2>Ajouter une nouvelle liste</h2>
        <p>Remplissez le formulaire avec les informations de votre enfant</p>

  <div class="form-container">
      <%= simple_form_for @list do |f| %>
        <%= f.input :title, label: "Nom de votre liste", placeholder: "Liste de naissance de Philéas" %>
        <%= f.input :birth_date, label: "Date de naissance", placeholder: "15/10/1985" %>
        <%= f.input :picture, as: :file %>

      <div class="form-actions">
        <%= f.button :submit, "Créer ma liste", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
 </div>
