<div class="container">
  <h2>Mes listes</h2>

  <div class="cards">
    <% @lists.each do |list| %>
        <div class="card">
          <div class="card-pict" style="background: url(<%= url_for(list.picture) %>) no-repeat; background-size: cover;"></div>
          <div class="title">
            <h3><%= list.title %></h3>
          </div>
          <div class="date">
            <p><%= list.birth_date %></p>
          </div>
          <%= link_to "voir", list_path(list), class: "btn-secondary" %>
        </div>
      <% end %>
  </div>

  <div class="cards">
    <%= link_to new_list_path do %>
      <button class="btn-primary">Créer une liste</button>
    <% end %>
  </div>

  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</div>
