<div class="navbar">
  <%= link_to '/', class: "navbar-brand" do %>
    <h1>Petit Génie</h1>
  <% end %>

  <div class="nav-menu">
    <div class="nav-icon">
      <%= link_to profiles_path do %>
        <%= image_tag "gift.svg", alt: "mes listes", class: "icon" %>
        <p>mes listes</p>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="nav-icon">
        <%= link_to profiles_path do %>
          <%= image_tag "user.svg", alt: "mon compte", class: "icon" %>
          <p>mon compte</p>
        <% end %>
    <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag "user.svg", alt: "mon compte", class: "icon" %>
          <p>Se connecter</p>
        <% end %>
    <% end %>
    </div>
  </div>

</div>
