<div class="container">

    <h2>Modifier ce produit</h2>
    <p>Modifiez les informations de votre produit.</p>

  <div class="form-container">
    <%= simple_form_for [ @list, @product ] do |f| %>
      <%= f.input :name, label: "Nom du produit" %>
      <%= f.input :url, label: "Lien du produit" %>
      <%= f.input :price, label: "Prix du produit" %>
      <%= f.input :picture, as: :file %>
      <%= f.button :submit, "Modifier ce produit", class: "btn-primary" %>
    <% end %>
  </div>

  <div class="sub-actions">
    <%= link_to "Retourner à la liste", list_path %>
  </div>
 </div>
